<div class="container tblock" id="home">
  <div class="row text-center">
    <h1>James Paik</h1>
    <p>Full Stack Web Developer</p>
    <p></p>
  </div>
</div>

<div class="container wblock">
  <div class="row text-center">
    <div class="col-md-12">
      <p>I create websites ranging from static landing pages to full stack web applications.</p>
      <p>I create websites ranging from static landing pages to full stack web applications.</p>
      <p>I create websites ranging from static landing pages to full stack web applications.</p>
      <p>I create websites ranging from static landing pages to full stack web applications.</p>
      <p>I create websites ranging from static landing pages to full stack web applications.</p>
      <p>I create websites ranging from static landing pages to full stack web applications.</p>
      <p>I create websites ranging from static landing pages to full stack web applications.</p>
      <p>I create websites ranging from static landing pages to full stack web applications.</p>
      <p>I create websites ranging from static landing pages to full stack web applications.</p>
      <p>I create websites ranging from static landing pages to full stack web applications.</p>
      <p>I create websites ranging from static landing pages to full stack web applications.</p>
    </div>
  </div>
</div>

<div class="container tblock">
  <div class="row text-center">
    <div class="col-md-12">
      <p>I create websites ranging from static landing pages to full stack web applications.</p>
      <p>I create websites ranging from static landing pages to full stack web applications.</p>
      <p>I create websites ranging from static landing pages to full stack web applications.</p>
      <p>I create websites ranging from static landing pages to full stack web applications.</p>
      <p>I create websites ranging from static landing pages to full stack web applications.</p>
      <p>I create websites ranging from static landing pages to full stack web applications.</p>
      <p>I create websites ranging from static landing pages to full stack web applications.</p>
      <p>I create websites ranging from static landing pages to full stack web applications.</p>
      <p>I create websites ranging from static landing pages to full stack web applications.</p>
      <p>I create websites ranging from static landing pages to full stack web applications.</p>
      <p>I create websites ranging from static landing pages to full stack web applications.</p>
    </div>
  </div>
</div>
