@import '../mixins/mixins';
@import 'variables';
@import 'layout';

html, body{
  height: 100%;
  width:100%;
}

body{
  background: linear-gradient(225deg, #5c258d, #348ac7, #4389a2, #7474bf);
  background-size: 800% 800%;
  -webkit-animation: BgGradient 30s ease infinite;
  -moz-animation: BgGradient 30s ease infinite;
  -o-animation: BgGradient 30s ease infinite;
  animation: BgGradient 30s ease infinite;

  &.gradone{
    background: linear-gradient(225deg, #5c258d, #348ac7, #4389a2, #7474bf);
    background-size: 800% 800%;
    -webkit-animation: BgGradient 30s ease infinite;
    -moz-animation: BgGradient 30s ease infinite;
    -o-animation: BgGradient 30s ease infinite;
    animation: BgGradient 30s ease infinite;
  }
}

.fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
    &.ng-enter{
      @include view-animation;
      opacity: 0;
    }
    &.ng-leave{
      @include view-animation;
      opacity: 1;
    }
    &.ng-enter-active{
      opacity: 1;
    }
    &.ng-leave-active{
      opacity: 0;
    }
}

main {
	@include transition(transform $animation-duration);
	/* Force Hardware Acceleration in WebKit */
	@include transform(translateZ(0));
	@include backface-visibility(hidden);

	h1 {
		text-align: center;
		font: {
			size: 2.4rem;
			weight: 300;
		}
		color: $text-color;
		margin: 0;
    padding-bottom: 15px;
		@include font-smoothing;
	}

	&.nav-is-visible {
		@include transform(translateY($nav-height-S));
	}

	@include MQ(M) {
		&.nav-is-visible {
			@include transform(translateY($nav-height-M));
		}

		h1 {
			font-size: 3.6rem;
			margin: 0;
		}
	}
  .container{
    width:100%;
    padding: 0;
    .row{
      margin: 0px;
    }
  }

  #home{
    h1{
      color:white;
      font:{
        size: 4em;
        weight: 400;
      }
    }
    p{
      color: white;
      font:{
        size: 2em;
        weight:300;
      }
    }
    .row{
      margin-top: 80px;
    }
  }

  .tblock{
    background: none;
    h1,p{
      color: white;
    }
  }

  .wblock{
    background-color: white;
    padding-top: 2em;
    padding-bottom: 2em;
  }

}

.form-horizontal .form-group{
  margin-left: 0px;
  margin-right: 0px;
}

@-webkit-keyframes BgGradient {
    0%{background-position:0% 97%}
    50%{background-position:100% 4%}
    100%{background-position:0% 97%}
}
@-moz-keyframes BgGradient {
    0%{background-position:0% 97%}
    50%{background-position:100% 4%}
    100%{background-position:0% 97%}
}
@-o-keyframes BgGradient {
    0%{background-position:0% 97%}
    50%{background-position:100% 4%}
    100%{background-position:0% 97%}
}
@keyframes BgGradient {
    0%{background-position:0% 97%}
    50%{background-position:100% 4%}
    100%{background-position:0% 97%}
}
